main {
    padding: 1rem;
}

#toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;  
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color); 
    text-align: center;
    z-index: 1000;
}
