:root {
    --main-padding: 2rem
}

#tools {
    display: grid;
    grid-template-rows: 94vh 6vh;
    height: 100vh;
    overflow: hidden;

    main {
        grid-row: 1;
        padding: var(--main-padding);
        max-height: 94vh;
    }
    
    #toolbar {
        grid-row: 2;
        height: 6vh;
        background-color: var(--secondary-bg-color);
        color: var(--secondary-text-color); 
        align-content: center;
    }
}

